

body {
    background: url(/assests/images/shakespeare-img.jpeg);
}

ul li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.hm-title{
    font-family: cursive;
    font-size: 50px;
}